*{
    margin: 0;
    padding: 0;
    font-family:   "Poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    
   width: 100%;
   min-height: 100vh;
   padding: 10px; 
   background: linear-gradient(135deg, blueviolet, rgba(137, 43, 226, 0.319));
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) ;

}

.todo-app h2{
    color: rgb(55, 11, 97);
    display: flex;
    align-items: center;
    margin-bottom:30px  ;
    
}
.todo-app h2 img{
    height: 30px;
    margin-left: 15px;
}

.row{
    margin-bottom:30px  ;
    display: flex;
    justify-content: space-between;
    background: rgba(103, 23, 178, 0.262) ;
    height: 60px;
    padding-left: 30px; 
    border-radius: 30px;
}
#input-box {
    
    border: none;
    outline: none;
    background: transparent;
    font-size: medium;
    
}
#submit {
    height: 60px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 30px ;
    background: rgb(75, 15, 131) ;
    color: white;
    font-size: large;
    cursor: pointer;
    transition-duration: 0.4s;
}
#submit:hover{  
    background: rgb(126, 77, 172);
    font-size: larger;
}


ul li{
    list-style: none;
    margin: 30px;
    font-size: large;
    padding-left: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: -5px;
    top: 2px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{

    font-weight: 400;
    font-size: 23px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
   
}
ul li span:hover{
    cursor: pointer;
    background: rgba(203, 174, 230, 0.667);
}

